<div class="banner-answers">
 <%= simple_form_for([@question, @answer]) do |f| %>
    <%= f.input :option, collection: @options.map {|option| [option.content, option.id]}, as: :radio_buttons %>
    <div class="event-listener" id='button'>
      <%= f.submit %>
    </div>
 <% end %>
</div>
