

<div class="container" id="quiz">
  <div id="advancing-bar">
    _______________________
  </div>
    <%= render 'questions/question', question: @question %>
    <%= render 'questions/choices', options: @options %>
    <div class="event-listener" id='button'>
      <button>Confirm</button>
    </div>
  </div>
</div>
