<br><br><br>

<div class="container" id="quiz" data-controller= "questions">
  <div id="advancing-bar">
    _______________________
  </div>
    <%= render 'questions/question', question: @question %>
    <%= render 'questions/choices', options: @options %>
  </div>
</div>
