<div class="container" id="quiz" data-controller="progress-bar questions">
    <%= render 'questions/question', question: @question %>
    <%= render 'questions/choices', options: @options %>
  </div>
</div>
