<div class="container" id="quiz" data-controller="progress-bar questions">
<% if @user_question_number > 0 %>
    <p id='little-info'><%= @user_question_number + 1 %> questions left !</p>
<% else %>
    <p id='little-info'>Last question !</p>
<% end %>
    <%= render 'questions/question', question: @question %>
    <%= render 'questions/choices', options: @options %>
  </div>
</div>
