<%= image_tag "badges/#{@reward.learning.title.downcase.gsub(" ", "_").gsub("é","e").gsub("è","e").gsub("à","a")}.png", alt:"image", width: 200 %>
<h3 style="color: #595757">Partage ton résultat</h3>
    <div class="share">
      <a href="https://twitter.com/?lang=en" target="_blank"><i class="fa-brands fa-twitter fa-4x"></i></a>
      <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook fa-4x"></i></a>
      <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram fa-4x"></i></a>
    </div>
