<h3>Badge gagné !</h3>
<%= image_tag "badges/#{@reward.learning.title.downcase.gsub(" ", "_").gsub("é","e").gsub("è","e").gsub("à","a")}.jpg", alt:"image", width: 200 %>
<h3>Share you results</h3>
    <div class="share">
      <i class="fa-brands fa-twitter fa-4x"></i>
      <i class="fa-brands fa-facebook fa-4x"></i>
      <i class="fa-brands fa-instagram fa-4x"></i>
    </div>
