<header id="options" data-controller="header">
  <div class="container inline-flex">
    <h1>RecyclEarn</h1>
    <button data-action="header#toggleTargets">
      <img src="https://avatars.githubusercontent.com/u/32631203?v=4" alt="">
    </button>
  </div>
  <div data-header-target="hideable">
    <h1>Hide me!</h1>
  </div>
</header>

<%#
<div id="options" data-controller="visibility">
  <h1>Toggle Visibility</h1>

  <button data-action="visibility#showTargets">Show All Elements</button>
  <button data-action="visibility#hideTargets">Hide All Elements</button>
  <button data-action="visibility#toggleTargets">Toggle Element Visibility</button>

  <p data-visibility-target="hideable">The Flamboyent Thing #1<p/>
  <p data-visibility-target="hideable" hidden>The Slightly Stealthy Thing #2<p/>
</div> %>
