<header>
  <div class="container-fluid inline-flex">
    <img src="assets/logo.svg" alt="">
    <div class="avatar">
      <img src="https://avatars.githubusercontent.com/u/32631203?v=4 " alt="">
    </div>
  </div>
  <div>
    <p>Prêt à en apprendre <br> sur le recyclage.</p>
  </div>
</header>
