<header id="options" data-controller="header">
  <div class="container inline-flex">
    <h1>RecyclEarn</h1>
    <button data-action="header#toggleTargets">
      <img src="https://avatars.githubusercontent.com/u/32631203?v=4" alt="">
    </button>
  </div>
  <div id="collapsible" data-header-target="hideable">
    <ul>
      <li class="item">Log out</li>
      <li class="item">Settings</li>
    </ul>
  </div>
</header>
