<nav>
  <%= link_to(users_dashboard_path) do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
  <%= link_to(interests_path) do %>
    <i class="fa-solid fa-location-arrow"></i>
  <% end %>
</nav>
