<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<br>
<br>
<br>
<br>
<br>

<div class="scrolling-wrapper">
  <div class="card" style= "background-image : linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgb(79 92 117 / 73%)), url('assets/landing/Bordeaux.jpeg')">
    <h1>Bordeaux</h1>
    <div class="hero">
      <button>Discover Courses</button>
    </div>
  </div>
  <div class="card" style= "background-image : linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgb(79 92 117 / 73%)), url('assets/landing/Paris.jpeg')">
    <h1>Paris</h1>
    <div class="hero">
      <button>Discover Courses</button>
    </div>
  </div>
</div>
