<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="lone-fact">
  <h1>Did you know ?</h1>
  <p>One metric ton of electronical scrap from personal computer contains more gold than 17 tons of unrefined gold ore !</p>
</div>
