<h2><%= interest.category.capitalize.gsub("_", " ") %></h2>
<p><%= interest.address %></p>
<% if interest.website.nil? %>
  <%= "" %>
<% else %>
  <a href="<%= interest.website %>">Web site</a>
<% end %>
