.card {
  border-radius: 5px;
  position: relative;
  display: flex;
  margin-right: 20px;
  justify-content: center;
  width: 300px;
  .pill-discover {
    background: #fff;
    border-radius: 50px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 90%;
    top: 10px;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 0);
  }
}
