.lone-fact {
  margin: 0 2vh 0 2vh;
  padding: 0 2vh 0 2vh;
  border: solid rgb(194, 194, 194) 1px;
  h1{
    font-size: 16px;
    text-align: right;
    padding-top: 1vh;
    color: #003366;
  }
  p{
    font-size: 12px;
    text-align: justify;
    padding-bottom: 0;
  }
}
