.input-light {
  background-color: $light-blue;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  padding: 0 16px;
  i {
    color: $green;
  }
}


.home-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  input {
    width: 100%;
    border: none;
    padding: 16px 0;
    border-radius: 10px;
    background: transparent;
    color: $dark;
  }
  input[type=submit]{
    display: none;
  }
  label {
    display: none;
  }
  fieldset {
    border: none;
  }
}
