#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  width: 50%;
  div {
    width: 100%;
  }
  label {
    font-size: 0.8rem;
  }
  .form-datas > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    input {
      border: solid $green;
      border-radius: 5px;
      text-indent: 0.5rem;
      padding: 0.5rem;
      width: 100%;
    }
  }
  .form-check {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    input[type="checkbox"] {
      accent-color: $green;
    }
  }
}
.form-datas .name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  div {
    width: 100%;
  }
}

fieldset {
  border: none;
}

.input-light {
  background-color: $light-blue;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  padding: 0 16px;
  i {
    color: $green;
  }
}



.home-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  input {
    width: 100%;
    border: none;
    padding: 16px 0;
    border-radius: 10px;
    background: transparent;
    color: $dark;
  }
  input[type=submit]{
    display: none;
  }
  label {
    display: none;
  }
  fieldset {
    border: none;
  }
}
