#content .container {
  padding-left: 40px;
  display:  flex;
  position: relative;
  z-index: 10;
  overflow-x: scroll;
  white-space: nowrap;
  .wrapper {
    display: flex;
  }
  .card {
    border-radius: 5px;
    position: relative;
    display: flex;
    margin-right: 20px;
    justify-content: center;
    width: 300px;
    .pill-discover {
      background: #fff;
      border-radius: 50px;
      padding: 10px 0;
      display: flex;
      justify-content: center;
      position: absolute;
      width: 90%;
      top: 10px;
      left: 50%;
      z-index: 2;
      transform: translate(-50%, 0);
    }
  }
  img {
    border-radius: 10px;
  }
}

#content .container::-webkit-scrollbar {
  display: none;
}


// .scrolling-wrapper {
//   overflow-x: scroll;
//   overflow-y: hidden;
//   white-space: nowrap;
//   -webkit-overflow-scrolling: touch;
//   padding: 2vh;

//   .card {
//     display: inline-block;
//     position: relative;
//     width: 60vw;
//     height: 75vw;
//     background-size: cover;
//     background-repeat: no-repeat;
//     border: aliceblue;
//   }

//   h1 {
//     position: absolute;
//     left: 10px;
//     bottom: 60px;
//     font-size: 22px;
//     font-weight: 500;
//     color: white;
//     margin: 20px;
//   }

//   .hero {
//     width: 100%;
//     position: absolute;
//     bottom: 30px;
//     text-align: center;
//   }

//   button {
//     width: 80%;
//     height: 40px;
//     border: solid rgb(194, 194, 194) 1px;
//     box-shadow: 0 0 30px rgb(230,230,230);
//     color: rgb(118, 118, 118);
//   }
// }
