.mapboxgl-popup {
  max-width: 300px;
  border-radius: 10px;
  p {
    margin-bottom: 5px;
  }
}

.mapboxgl-popup-content {

}

.my-map {
  height: 100vh;
  position: absolute !important;
  top: 0;
  width: 100%;
}

.mapboxgl-ctrl-top-right {
  top: 150px !important;
}

.map-filters {
  top: 220px !important;
}

.map-filters::-webkit-scrollbar {
  display: none;
}

.btn-popup {
  background-color: $green;
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
}
