nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 5vh;
  background: $light;
  padding: 20px;
  left: 50%;
  position: fixed;
  border-radius: 5px;
  transform: translateX(-50%);
  backdrop-filter: blur(20px);
  i {
    margin: 0 20px;
  }
}
