.progress-bar {
  width: 80%;
  margin: 30px auto;
  height: 20px;
  background: $light;
  border: 1px solid $green;
  position: relative;
  border-radius: 5px;
  .completed-pb {
    position: absolute;
    top: -1px;
    height: 20px;
    // width: 10%;
    background: $green;
    border-radius: 5px;
  }
}
