.container {
  #advancing-bar {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  #quiz-ask {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2vh;
  }

  .banner-answer {
    display: table;
    position: relative;
    color: rgb(118, 118, 118);
    width: 87vw;
    height: 4vh;
    border: solid rgb(194, 194, 194) 1px;
    box-shadow: 0 0 30px rgb(230,230,230);
    padding: 2vh;
    margin : 2vh 0 2vh 0;
    text-align: center;
    background-color: #efefef;
  }

  #button {
    display: flex;
    justify-content: center;
  }
}

.radio-butt{
  display: none;
}

.labels {
  display: flex;
  justify-content: center;
  height: 10vh;
  border: solid rgb(194, 194, 194) 1px;
  border-radius: 2vh;
  padding: 2px;
  margin: 10px;
}

.radio-active {
  color: blue;
  background-color: red;
}
//   button {
//     width: 80%;
//     height: 40px;
//     border: solid rgb(194, 194, 194) 1px;
//     box-shadow: 0 0 30px rgb(230,230,230);
//     color: rgb(118, 118, 118);
//   }
// }
