#quiz {
  margin-top: 120px;
  .container {
    #advancing-bar {
      display: flex;
      width: 100%;
      justify-content: center;
    }

    #quiz-ask {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 2vh;
    }

    .banner-answer {
      display: table;
      position: relative;
      color: rgb(118, 118, 118);
      width: 87vw;
      height: 4vh;
      border: solid rgb(194, 194, 194) 1px;
      box-shadow: 0 0 30px rgb(230,230,230);
      padding: 2vh;
      margin : 2vh 0 2vh 0;
      text-align: center;
      background-color: #efefef;
    }

    #button {
      display: flex;
      justify-content: center;
    }
  }

  button {
    width: 80%;
    height: 40px;
    border: solid rgb(194, 194, 194) 1px;
    box-shadow: 0 0 30px rgb(230,230,230);
    color: rgb(118, 118, 118);
    padding: 2vh;
    margin : 2vh 0 2vh 0;
    text-align: center;
    background-color: #efefef;
  }

  #button {
    display: block;
    justify-content: center;
  }

  .submit-button {
    margin: 10px 2vh 10px 2vh;
    text-align: center;
  }

  input {
    background-color: #efefef;
    border-radius: 5px;
    width: 60%;
    height: 50px;
  }
}

.radio-butt{
  display: none;
}

.labels {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border: solid rgb(194, 194, 194) 1px;
  background-color: #efefef;
  border-radius: 5px;
  padding: 2px;
  margin: 10px 2vh 32px 2vh;
  text-align: -webkit-center;
}

.radio-active {
  color: rgb(94, 94, 94);
  background-color: #ffffff;
}
   button {
width: 80%;
height: 40px;
border: solid rgb(194, 194, 194) 1px;
box-shadow: 0 0 30px rgb(230,230,230);
color: rgb(118, 118, 118);
}
}
