.container-reward {
  position: relative;
  width: 100%;
  height: 75vw;
  text-align: -webkit-center;

  .card-reward {
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 2vh 0 2vh 0;
    margin: 2vh 0 2vh 0;
  }

  button {
    margin: 2vh;
  }
}
