.container-reward {
  position: relative;
  width: 100%;
  height: 78vh;
  text-align: -webkit-center;
  overflow: auto;

  .card-reward {
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 2vh 0 2vh 0;
    margin: 2vh 0 2vh 0;
  }

  button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10px;
    background: #40A858;
    border: none;
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

    a {
      color: white;
      font-weight: bold;
    }
  }

  h3 {
    margin: 9px 0 7px 0;
    color: white;
  }

  .card-reward {
    h1 {
      position: absolute;
      margin-top: 100px;
    }
  }

  #winning-message {
    margin-top: 130px;
  }

  .fa-brands {
    margin: 0 10px 0 10px;
  }

  .answer-card {
    display: flex;
    border-bottom: solid rgb(182, 182, 182) 1px;
  }

  p {
    width: 26%;
    margin-left: 3px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  h5 {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 10px 10px 10px 0;
  }

  h4 {
    margin-bottom: 30px;
    padding-top: 10px;
  }


  .container-answers {
    background-color: #f1f1f1 !important;
    text-align: left;
    margin: 0 15px;
    padding: 0 10px 10px 10px;
    border-radius: 10px;
    h5 {
      color: #5b5b5b;
    }
  }

  .card-reward h2 {
    font-size: 12px;
    font-weight: 500;
    color: #40A858;
  }

  #sidekiq-span {
    justify-content: center;
    position: relative;
    margin-top: 5px;
    font-size:8px;
    display: flex;
  }

  .share-container img {
    border: 1px solid $green;
    border-radius: 50%;

  }
}

#failed-message {
  position:absolute;
  margin-top: 0;
}

#answer-found {
  position: absolute;
  top: 79px;
  left: 44px;
  width: 50px;
  height: 45px;
  border-radius: 10px;
  background-color: indianred;
}

.green {
  color: $green;
}

.card-failed {
  height: 11vh;
  margin: 7vh 4vw 2vh 4vw;
  border-radius: 10px;
  background-color: #f1f1f1;
  color: #858585;
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 12px;
  }
  .wrong {
    position: absolute;
    text-align: left;
    margin-left: 96px;
    color: #5b5b5b;
    margin-right: 50px;
    margin-top: 22px;
  }
}
