.rich-card {
  margin: 2vh;
  padding: 2vh;
  background-color: #f3f9f3;
  border-radius: 10px;
  p {
    font-size: 15px;
    margin-left: 10px;
  }
  h3 {
    font-size : 18px;
    margin-bottom: 10px;
    color:#40a857;
  }
  h4 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    color:#40a857;
  }

  h5 {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    color:#40a857;
  }

  li {
    font-size : 15px;
    margin-left: 10px;
  }

  img {
    margin-top: 15px;
    width: 100%;
    object-fit: contain;
  }
}

.start {
  display: flex;
  justify-content: center;
  color: rgb(70, 70, 70);
  .start-button {
    width: 175px;
    margin: 0px 10px 0 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #40a859;
    font-weight: bold;
  }
  a {
    color: white;
  }
}
